.full-width {
    width: 100%;
    height: auto;
    .cover-image {
        width: 100%;
        height: auto;
    }
}

.main-wrapper {
    padding: $padding;
    max-width: $max-width;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.flex-callout {
    display: flex;
    margin: 0 auto;
    max-width: 55rem;
    @media screen and (max-width: 40rem){
        display: block;
    }
    div {
        flex: 1;
        background: #ccc;
        padding: 1rem;
        margin: .5rem;
    }
}