/* This front header is absolutely positioned, and lies on top of the slider */
#front-header {
    position: absolute;
    z-index: 100;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
}

#branding {
    max-width: $max-width;
    margin: 0 auto;
    #site-title {
        padding: $padding;
        display: flex;
        align-items: center;
        #main-logo {
            flex: 1;
            min-width: 200px;
        }
        #menu {
            flex: 4;
            text-align: right;
            ul {
                li {
                    display: inline;
                    padding: 0rem 0.5rem;
                    &:nth-last-child(1) {
                        padding: 0.25rem 0.75rem 0.35rem 0.75rem;
                        border-radius: 15px;
                        background: $secondary-color;
                        transition: all 0.25s ease-in-out;
                        a {
                            color: #fff !important;
                            font-weight: bold;
                        }
                    }
                    &:nth-last-child(1):hover {
                        background: darken($secondary-color, 5%);
                        color: #fff;
                    }
                    a {
                        color: #eee;
                        @include letterspacing;
                        transition: color 0.25s ease-in-out;
                        &:hover {
                            color: lighten(#fff, 25%);
                        }
                    }
                }
            }
        }
    }
}

/* Positioned relatively */
#main-header {
    #branding {
        #site-title {
            #menu {
                ul {
                    li {
                        a {
                            color: #001;
                        }
                    }
                }
            }
        }
    }
}
