.proposal-container {
    display: flex;
    align-items: center;
    background: url("images/proposal-bg.jpg") no-repeat center;
    background-size: cover;
    span {
        flex: 1;
        padding: 2rem;
        p {
            max-width: 400px;
            margin: 0 auto;
            font-size: 1.15rem;
        }
    }
    span:nth-child(1) {
        color: #fff;
        text-align: center;
    }
    @media screen and (max-width: 700px) {
        display: block;
        padding: $padding;
        span:nth-child(1) {
            border-right: 0px;
        }
    }
    .form {
        background: rgba(255, 255, 255, 0.75);
        @media screen and (max-width: 700px) {
            background: none;
            label,
            div {
                color: #fff;
            }
        }
        form {
            padding-left: 2.5rem;
            .flex {
                margin: 0.35rem 0rem;
                display: flex;
                div {
                    flex: 1;
                    input {
                        width: 80%;
                        padding: 0.35rem;
                    }
                }
            }
            button {
                margin-top: 1rem;
                transition: all 0.5s ease-in-out;
                @include pill-button($secondary-color, #fff);
                border: 2px solid darken($secondary-color, 5%);
            }
            .submitted,
            .submitted:hover {
                border: 2px solid darken(orange, 3%);
                background: darken(orange, 3%);
            }
        }
    }
}
